

/*content-phone-plus*/
.header-type1{
    margin-top: 120px;
}

.header-inner{
    text-align: center;

}

.m_content-phone-plus{
    max-width: 1920px;
    height: 2790px;
    border: black solid thin;
    margin: 0;
    padding: 0;
}

.m_content-feature-phone-plus{
    width: 100%;
    height: 1040px;
    margin: 0;
    padding: 0;
}

/*feature-smart-switch1*/
.m_content-feature-smart-switch1{
    width: 100%;
    height: 930px;
    margin: 0px;
    padding: 0px;
}

/*feature-smart-switch2*/
.m_content-feature-smart-switch2{
    width: 100%;
    height: 930px;
    margin: 0px;
    padding: 0px;
}

.icon-inner ul li{
    list-style-type: none;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-style: inherit;
    height: 60px;
}


.h2_type1{
    font-family: Arial;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}

.h3_type1{
    font-family: Arial;
    font-size: 56px;
    width: 800px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 0;
}


.h3_type2{
    font-family: Arial;
    font-size: 40px;
    width: 800px;
    line-height: 46px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 0;
}

.p_detail-type1{
    font-family: Arial;
    font-size: 20px;
    width: 900px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 5px;

}

.p_detail-type2{
    font-family: Arial;
    font-size: 16px;
    width: 900px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 0;
}

.f_product{
    position: relative;
    height: 390px;
}


.f_product figure{
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}


.product-gear-vr{
    position: absolute;
    left: 20%;
    margin-top : 9.3%;

}
.product-dex{
    position: absolute;
    left: 58.8%;
    margin-top: 6.6%;
    z-index: 1;
}

.product-note-8{
    position: absolute;
    left: 46%;
    z-index: 2;
}

.product-gear-360{
    position: absolute;
    left: 53.7%;
    margin-top: 9.6%;
    z-index: 3;
}

.btn-type1 a{
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    border: black solid thin;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}
.btn-type2 a{
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 40px;
    border: black solid thin;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}



.btn-type1 a:hover{
    color: #fff;
    background: black;
}

.btn-type2 a:hover{
    color: #fff;
    background: black;
}

.btn-type1{
    margin-top: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}


.f_smart-switch{
    text-align: center;

}

.a_smart-switch-new{
    background: url("resources/images-phone_plus-smart_switch/galaxy-note8_btn_bg_icon_link-new-tab.png") no-repeat right top;
    font-family: Arial;
    font-size: 18px;
    line-height: 23px;
    background-size: 23px;
    padding-right: 38px;
    padding-bottom: 10px;

}

.a_smart-switch-new span{
    display: inline-block;
    position: relative;
}

.a_smart-switch-new span:after{
    display: block;
    content: " ";
    position: absolute;
    height: 2px;
    bottom: -3px;
    width: 100%;
    background: black;
}



.div_link-smart-switch{
    margin-top: 50px;
}


.div_link-smart-switch figure{
    margin-top: 35px;
}



.a_smart-switch-new:hover{
    color: #41C7EB;
}

.a_smart-switch-new em{
    font-weight: bold;
    font-style: normal;
}

.f_smart-switch2-video{
    margin-top: 30px;
    text-align: center;
}


.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}