.conten-phone-plus{
    width: 100%;
    height: 2370px;
    border: black solid thin;
    margin: 0px ;
}

.feature-phone-plus{
    width: 100%;
    height: 790px;
    border: black solid thin;
    margin: 0px ;
}

.feature-smart1{
    width: 100%;
    height: 790px;
    border: black solid thin;
    margin: 0px ;
}

.feature-smart2{
    width: 100%;
    height: 790px;
    border: black solid thin;
    margin: 0px ;
}